# Python Operators with Practical Examples
This notebook provides practical examples of different types of Python operators along with their outputs.

### Types of Operators:
- Arithmetic Operators
- Assignment Operators
- Comparison Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

### Arithmetic Operators

In [ ]:
a = 15
b = 4
result = a + b
result  # Addition
result = a - b
result  # Subtraction
result = a * b
result  # Multiplication
result = a / b
result  # Division
result = a % b
result  # Modulus
result = a ** b
result  # Exponentiation
result = a // b
result  # Floor division
result = -a
result  # Negation
result = (a * 3) + (b * 2)
result  # Combination of operations
result = (a + b) * (b - 1)
result  # Nested operations

### Assignment Operators

In [ ]:
a = 10
result = a
result  # Simple assignment
a += 5
result = a
result  # Add and assign
a -= 3
result = a
result  # Subtract and assign
a *= 2
result = a
result  # Multiply and assign
a /= 4
result = a
result  # Divide and assign
a %= 2
result = a
result  # Modulus and assign
a = 10
a //= 3
result = a
result  # Floor division and assign
a **= 2
result = a
result  # Exponentiation and assign
b = 6
b &= 2
result = b
result  # Bitwise AND and assign
b |= 1
result = b
result  # Bitwise OR and assign

### Comparison Operators

In [ ]:
a = 10
b = 5
result = a == b
result  # Equal to
result = a != b
result  # Not equal to
result = a > b
result  # Greater than
result = a < b
result  # Less than
result = a >= b
result  # Greater than or equal to
result = a <= b
result  # Less than or equal to
result = a == 10
result  # Equal to constant
result = b == 5
result  # Equal to constant
result = (a > b) and (b < 10)
result  # Comparison with logical operators
result = (a != b) or (a < 20)
result  # Comparison with OR

### Logical Operators

In [ ]:
a = True
b = False
result = a and b
result  # Logical AND
result = a or b
result  # Logical OR
result = not a
result  # Logical NOT
x = 8
y = 3
result = (x > y) and (x < 20)
result  # AND with numbers
result = (x == 8) or (y == 4)
result  # OR with numbers
result = not (x == 8)
result  # NOT with comparison
result = (x < 10) and (y > 2)
result  # Combining comparisons
result = (x >= 8) or (y <= 3)
result  # Combining OR comparisons
result = not (y != 3)
result  # Double negation
result = (x == 8) and not (y == 4)
result  # AND with NOT

### Bitwise Operators

In [ ]:
a = 7
b = 2
result = a & b
result  # Bitwise AND
result = a | b
result  # Bitwise OR
result = a ^ b
result  # Bitwise XOR
result = ~a
result  # Bitwise NOT
result = a << 1
result  # Bitwise left shift
result = a >> 1
result  # Bitwise right shift
result = b << 2
result  # Left shift
result = b >> 2
result  # Right shift
c = 15
result = c & b
result  # Bitwise AND with different number
result = c | b
result  # Bitwise OR with different number

### Membership Operators

In [ ]:
my_list = [1, 2, 3, 4]
result = 2 in my_list
result  # Check if element in list
result = 5 in my_list
result  # Check if element not in list
result = 5 not in my_list
result  # Check not in
my_string = 'hello'
result = 'e' in my_string
result  # Check in string
result = 'z' in my_string
result  # Check not in string
result = 'z' not in my_string
result  # Check not in
my_dict = {'a': 1, 'b': 2}
result = 'a' in my_dict
result  # Key in dictionary
result = 'c' not in my_dict
result  # Key not in dictionary
result = 1 in my_dict.values()
result  # Value in dictionary values
result = 3 not in my_dict.values()
result  # Value not in dictionary values

### Identity Operators

In [ ]:
a = 10
b = 10
result = a is b
result  # Identity check (same object)
result = a is not b
result  # Identity not check
x = [1, 2]
y = [1, 2]
result = x is y
result  # Different list objects
result = x is not y
result  # Identity not check with lists
result = x == y
result  # Equality check (same content)
z = x
result = z is x
result  # Same list object
result = z is not y
result  # Different objects check
my_string1 = 'hello'
my_string2 = 'hello'
result = my_string1 is my_string2
result  # String identity check
result = (a + 1) is not b
result  # Identity not check with expressions
result = (a == 10) is True
result  # Comparison with True