In [1]:
hi = "hello world"
for i in hi:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [2]:
g = {1:"dosa",2:"idili"}
type(g)

dict

In [3]:
for k,v in g.items():
    print(f"{k} and {v}")

1 and dosa
2 and idili

In [ ]:
my_set = {1,2,3,4,5,6,7,8,9}
iterator = iter(my_set)

In [5]:
numbers = [1,2,3,4,5,6,7,8]
for i in numbers:
    if i %  2 == 0:
        print("even", i)
    else:
        print("odd",i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8

In [12]:
def check_if_vowel(letter):
 vowels = ('a','e','i','o','p')
if vowels == vowels:
    print("it is a vowel")
else: 
    print("it is not")

it is a vowel

In [15]:
char = input("enter a char: ")
if char == ('a','e','i','o','u'):
    print("it is a vowel.")
else:
    print("it is not vowel.")

enter a char:  t

it is not vowel.

In [1]:
hi = "chakri reddy"
for i in hi:
    if i == d:
        pass
    else:
        print(i)

NameError: name 'd' is not defined

In [2]:
hi = "chakri reddy"
for i in hi:
    if i == cha:
        pass
    else:
        print(i)

NameError: name 'cha' is not defined

In [3]:
hi = "chakri reddy"
substring = "cha"

if substring in hi:
    print(f"'{substring}' found, skipping...")
else:
    for i in hi:
        print(i)

'cha' found, skipping...

In [14]:
name = "chakri"
for i in name:
     if i == "r":
         break
    print(i)

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [17]:
name = "chakri"
for i in name:
    if i == "r":
        break
    print(i)

c
h
a
k